.Popup{
    position: fixed;
    top: 0;
    width: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    border-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Inner{
    position: relative;
    padding: 32px;
}

.Inner.Close{
    position: absolute;
    right: 16px;
    left: 16 px;
}